language: c
dist: xenial

# Install dependencies
install:
  - sudo apt-get update -qq
  - sudo apt-get install -qqq inkscape wget zip imagemagick

# Build the simple items PK3
script:
  - make dist

# Upload artifacts to GitHub Releases
after_success:
  - ls -lh out/*
  - wget -c https://github.com/probonopd/uploadtool/raw/master/upload.sh
  - bash upload.sh out/*

# Do not build tags that we create when we upload to GitHub Releases
branches:
  except:
    - /^(?i:continuous)$/
